/* --- Notifications Menu Styles --- */
/* Container for the notifications icon in navigation */
.notifications-icon {
    display: inline-flex;
    align-items: center;
    position: relative;
}

/* Toggle button for the notifications menu */
.notifications-menu-toggle {
    display: inline-flex;
    align-items: center;
    margin-top: -3px;
}

/* Adjustments for the notifications menu icon */
.notifications-menu-toggle .material-icons {
    margin-top: -5px;
}

/* Styles for the notifications dropdown menu */
.notifications-menu {
    position: fixed;
    top: 67px;
    right: 64.75px;
    background: #fff;
    color: #00274C;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: calc(1 * 160px + 6rem);
    min-height: 300px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    font-size: 1.5rem;
}

/* Header within the notifications menu */
.notifications-menu-header {
    width: 100%;
}

/* Notifications menu heading */
.notifications-menu-header h3 {
    margin-left: 15px;
    font-size: 1.5rem;
    font-weight: 800;
    color: #00274C;
    text-align: center;
}

/* Divider line in notifications menu header */
.notifications-menu-header hr {
    width: calc(100% - 10px);
    border: none;
    border-top: 2px solid #00274C;
    margin-top: 0.5rem;
}

/* Container for notification items */
.notifications-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    justify-content: flex-start;
}

/* Styles for notification item links */
.notifications-items a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Styles for links within the notifications menu */
.notifications-menu a {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 4px;
    flex-direction: column;
    font-size: 1.25rem;
}

/* Arrow above the notifications menu */
.notifications-menu::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-16px);
    border-width: 7.5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}