.trajectory {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.trajectory path {
    stroke: #888;
    /* Visible trajectory */
    stroke-width: 2;
    fill: none;
}

.ball {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    offset-path: path('M50,350 Q300,50 550,200');
    offset-rotate: auto;
}

.ball svg {
    display: block;
}

.animate {
    animation: throwBall 2s ease-in-out forwards;
}

@keyframes throwBall {
    from {
        offset-distance: 0%;
    }

    to {
        offset-distance: 100%;
    }
}