.ball {
    position: absolute;
    transform: rotate(90deg);
    top: 0;
    left: 0;
    offset-path: path('M300,35 Q820,-30 1100,160');
    /* Adjusted path */
    offset-rotate: auto;
}

.ball svg {
    display: block;
}

.animate {
    animation: throwBall 2s ease-in-out forwards;
}

@keyframes throwBall {
    from {
        offset-distance: 0%;
    }

    to {
        offset-distance: 100%;
    }
}