/**
 * FILE: schedule.css
 */

/* General Container Styling */
.schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.schedule-type-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 2rem;
    width: 70%;
    box-sizing: border-box;
    border: 3px solid #00274C;
    border-radius: 7px;
}

.schedule-view-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    /* Ensures horizontal scroll if needed */
}

.schedule-view-container h1 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    font-weight: 700;
}

.schedule-view-container p {
    margin: 1rem 0;
    font-size: 1rem;
}

/* Style for Class Schedule Table */
.class-schedule-table {
    width: 100%;
    border-collapse: separate;
    border: 2px solid #00274C;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    border-spacing: 0;
    display: block;
    overflow-x: auto;
}

.class-schedule-table th,
.class-schedule-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    box-sizing: border-box;
}

.class-schedule-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.class-schedule-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Rounded Corners for Specific Cells */
.class-schedule-table tr:first-child th:first-child {
    border-top-left-radius: 10px;
    border-left: none;
}

.class-schedule-table tr:first-child th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

.class-schedule-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
    border-left: none;
}

.class-schedule-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
    border-right: none;
}

/* Course Container Styling */
.course-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Course Title Styling */
.course-title {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Center content in Course Details Table */
.course-details-table {
    margin-top: 1rem;
    width: 100%;
    border-collapse: collapse;
}

.course-details-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1rem;
}

/* Sections Table Styling */
.sections-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.sections-table th,
.sections-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-size: 1rem;
}

.sections-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.sections-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Rounded Corners for Sections Table */
.sections-table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.sections-table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.sections-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.sections-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

/* Calendar Table Styling */
.calendar-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #00274C;
    border-radius: 10px;
    overflow: hidden;
    table-layout: fixed;
    height: 800px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.calendar-table th,
.calendar-table td {
    border: 1px solid #ddd;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.calendar-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    padding: 8px;
}

.calendar-table th:first-child {
    border-left: 2px solid #00274C;
}

.calendar-table th:last-child {
    border-right: 2px solid #00274C;
    border-bottom: none;
}

.calendar-table tr:last-child td:first-child {
    border-left: none;
}

.calendar-table tr:last-child td:last-child {
    border-right: none;
    border-bottom: none;
}

.class-block {
    background-color: #00274C;
    border: 1px solid #00274C;
    padding: 2px;
    margin: 1px;
    font-size: 0.53rem;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 600;
    position: absolute;
    left: 0;
    right: 0;
}

.class-block h2 {
    font-size: .7rem;
}


.class-block:hover {
    background-color: #02396d;
}

.calendar-table tr:last-child td {
    border-bottom: 2px solid #00274C;
}

.calendar-table td:first-child {
    border-left: 2px solid #00274C;
}

/* Schedule View Type Selector */
.schedule-view-type-wrapper {
    position: relative;
    display: flex;
    width: 20rem;
    border: 1.5px solid #00274C;
    border-radius: 20px;
    background: white;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    height: 40px;
}

.schedule-view-type-selector {
    display: none;
}

.schedule-view-type-option {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    color: #00274C;
    transition: color 0.3s;
    z-index: 2;
    font-size: 16px;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.schedule-view-type-highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 33.3333333%;
    height: 100%;
    background: #00274C;
    border-radius: 20px;
    border: 3px solid #00274C;
    transition: left 0.3s;
    z-index: 1;
}

#view-list:checked~.schedule-view-type-highlight {
    left: 0%;
}

#view-table:checked~.schedule-view-type-highlight {
    left: 33.333%;
}

#view-calendar:checked~.schedule-view-type-highlight {
    left: 66.666%;
}

#view-list:checked~.schedule-view-type-option[for="view-list"],
#view-table:checked~.schedule-view-type-option[for="view-table"],
#view-calendar:checked~.schedule-view-type-option[for="view-calendar"] {
    color: white;
}

/* Days Selector */
.days-selector-wrapper {
    display: flex;
    width: 100%;
    max-width: 500px;
    border: 1.5px solid #00274C;
    border-radius: 20px;
    background: white;
    font-weight: bold;
    cursor: auto;
    user-select: none;
    height: 40px;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.days-selector-checkbox {
    display: none;
}

.days-selector-option {
    flex: 1 1 calc(14.28% - 4px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    padding: 0;
    text-align: center;
    color: #00274C;
    background: white;
    transition: background 0.3s, color 0.3s;
    border: 1px solid transparent;
    border-radius: 18px;
    cursor: pointer;
}

.days-selector-checkbox:checked+.days-selector-option {
    background: #00274C;
    color: white;
    border-color: #00274C;
}

.days-selector-option:hover {
    background: #e0e0e0;
    border-color: #b0b0b0;
}

/* Start/End Time Spinners */
#start-end-spinners {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.2rem;
}

#start-time-spinner-wrapper,
#end-time-spinner-wrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.start-time-spinner,
.end-time-spinner {
    margin-top: 0.5rem;
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 40px;
    border: 2px solid #00274C;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
}

.start-time-spinner:hover,
.end-time-spinner:hover {
    width: 200px;
    border: 2px solid #00274C;
}

.start-time-spinner .start-time-spinner-next,
.end-time-spinner .end-time-spinner-next {
    position: absolute;
    top: 50%;
    right: 30px;
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #FFCB05;
    border-left: 2px solid #FFCB05;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
}

.start-time-spinner:hover .start-time-spinner-next,
.end-time-spinner:hover .end-time-spinner-next {
    opacity: 1;
    right: 20px;
}

.start-time-spinner .start-time-spinner-prev,
.end-time-spinner .end-time-spinner-prev {
    position: absolute;
    top: 50%;
    left: 30px;
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #FFCB05;
    border-left: 2px solid #FFCB05;
    z-index: 1;
    transform: translateY(-50%) rotate(315deg);
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
}

.start-time-spinner:hover .start-time-spinner-prev,
.end-time-spinner:hover .end-time-spinner-prev {
    opacity: 1;
    left: 20px;
}

#start-time-spinner-box,
#end-time-spinner-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

#start-time-spinner-box span,
#end-time-spinner-box span {
    display: none;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    user-select: none;
    white-space: nowrap;
}

#start-time-spinner-box span:nth-child(1),
#end-time-spinner-box span:nth-child(1) {
    display: initial;
}

/* Printer Friendly Button */
.printer-friendly-button {
    margin-top: 2rem;
    background: #00274C;
    color: #FFCB05;
    border: none;
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.printer-friendly-button span {
    margin: 5px;
    margin-right: 10px;
}

#calendarToggleOptions {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.2rem;
}

.calendarToggleOption {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.calendarToggleOption h3 {
    margin-bottom: 0.5rem;
}

.schedule-view-options {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border: 2px solid #00274C;
    border-radius: 10px;
    padding: 2rem;
}

.calendar-view-options {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Responsive Design Enhancements */
@media (max-width: 768px) {

    .sections-table th,
    .sections-table td,
    .course-details-table td {
        padding: 8px;
        font-size: 0.9rem;
    }

    .course-title {
        font-size: 1rem;
    }

    .printer-friendly-button {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }

    .schedule-view-type-wrapper {
        width: 16rem;
        height: 35px;
    }

    .schedule-view-type-option {
        font-size: 14px;
    }

    .days-selector-option {
        flex: 1 1 calc(14.28% - 4px);
        font-size: 0.8rem;
    }
}